* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body{
    background-color: rgb(rgb(187, 25, 25), green, blue);
}

main{
    background-color: rgb(41, 206, 63);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(red, green, rgb(14, 71, 67));
}